.feature_main{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 8px;
    padding: 30px;
    align-items: center;
    flex-direction: column;
background: linear-gradient(180deg, #989FFF 0%, #7A82FF 100%);
color: white;
font-family: "Work sans",sans-serif;
}
.feature_title{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 8px;
}
.feature_cont{
    font-size: 16px;
    font-weight: 500;
    max-width: 758px;
}
.start{
    border: none;
    width: 116px;
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Work sans",sans-serif;

}
.feat_title{
    margin-left: 25px;
    font-size: 24px;
    font-weight: 600;
        font-family: "Work sans",sans-serif;

}
.cl_title{
    font-size: 24px;
    font-weight: 600;
        font-family: "Work sans",sans-serif;
}
@media screen and (max-width: 600px) {
    .feature_main {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}