.mainnav{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    border-bottom: .25px solid #ccc;
    width: 100%;
}

.logo1{
    height: 50px;
    width: auto;
}
.invisible{
    display: flex;
    gap: 30px;
    padding-right: 20px;
}
.navlist{
    list-style-type: none;
    display: flex;
    gap: 60px;
}
.ham{
    display: none;
    font-size: x-large;
    padding-top: 5px;
}
.logout{
    color: white;
    background-color: #fc2947;
    border: none;
    font-family: "Poppins", sans-serif;
    height: 42px;
    width: 130px;
}
.logoutdiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.chevron-icon1 {
  font-size: 0.6rem; 
  margin-left: 4px;
  padding-bottom: 2px;
}
.chevron-icon2 {
  font-size: 0.6rem; 
  margin-left: 4px;
    padding-bottom: 2px;

}
.user_det{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navitem{
    position: relative;
}
.navitem1{
    position: relative;
}
.dropdown1{
    display: none;

}
.navitem:hover .dropdown1{
    display: block;
}
.dropdown2{
    display: none;
}
.navitem1:hover .dropdown2{
  display: block;
}
@media screen and (max-width:1150px) {
    .navlist{
        display:none;
    }
    .invisible{
        display: none;
    }
    .ham{
        display: block;
    }
    .log_ham{
    display: flex;
}
}